<div class="container">
  <div class="row">
    <% products_page.each do |product| %>
      <% if product.is_active %>
        <div class="col-3">
          <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag product,:image, :fill, 200, 200,format: 'jpeg', fallback: "no_image.png",size:'200x200' %>
          <% end %>
          <p><%= product.name %></p>
          <p>¥<%= product.no_tax_price %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate products_page %>