<div class = "product-body">
  <div class ="image">

    <%= attachment_image_tag @product, :image,:fill,100,100, format: 'jpeg',fallback: "no_image.png",size:'200x200'  %>
  <div class="name">
    <p><%= @product.name %></p>
  </div>

  <div class="discription">
    <p><%= @product.discription %></p>
  </div>

  <div class="price">
    <h3>税込価格</br>(税抜価格)</h3>
    <p><%= ((@product.no_tax_price.to_i * 1.1).round(2)).ceil %>円
     <span><%= @product.no_tax_price %>円</span>
    </p>
  </div>

 <%= form_with(model: @cart_product,url:'/cart_products',local:true) do |f| %>
  <div class ="select_quantity">
    個数選択
   <%= f.select :cart_count, options_for_select(((1..20).to_a)) %>
  </div>
   <%= f.hidden_field :product_id, value: @product.id %>
   <%= f.submit "カートに入れる" %>
 <% end %>

