<h2>ショッピングカート</h2>

<p>商品名</p>
<% current_customer.cart_products.each do |cart_product| %>
<%= cart_product.product.name %>

<p>単価（税込）</p>
<%= cart_product.product.no_tax_price * 1.1 %>

<p>数量</p>
<%= form_with model: @cart_product, url:cart_product_path(cart_product), local: true do |f| %>
<%= f.select :cart_count, options_for_select(((1..20).to_a),cart_count) %>
<%= f.submit "変更" %>
<% end %>

<p>小計</p>
<%= cart_product.product.no_tax_price * 1.1 * (cart_product.count) %>
<%= link_to "削除する", cart_product_path(cart_product), method: :delete %>
<% end %>


<p>合計金額</p>
<%= @total_price %>

<%= link_to '送信' , orders_new_path %>
<% @cart_products.each do |cart_product| %>
<%= link_to "カートを空にする", "/customers/cart_products/#{cart_product}", method: :delete %>
<% end %>