<div class="container">
  <div class="row">
    <div class="col-4"><h5>ショッピングカート</h5></div>
    <div class="offset-6 col-2"><%= link_to "カートを空にする", customers_cart_products_destroy_all_path, method: :delete, class: "btn btn-danger" %></div>
  </div>


  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% current_customer.cart_products.each do |cart_product| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_product.product,:image, :fill, 200, 200,format: 'jpeg', fallback: "no_image.png",size:'70' %>
              <%= cart_product.product.name %>
            </td>
            <td><%= ((cart_product.product.no_tax_price.to_i * 1.1).round(2)).ceil %></td>
            <td>
              <%= form_with model: cart_product,local: true do |f| %>
                <%= f.select :cart_count, options_for_select(((1..20).to_a),cart_product.cart_count)%>
              <%= f.submit "変更" , class: "btn btn-success" %>
              <% end %>
            </td>
            <td><%= ((cart_product.product.no_tax_price.to_i * 1.1 * (cart_product.cart_count)).round(2)).ceil %></td>
            <td><%= link_to "削除する", cart_product_path(cart_product.id),method: :delete, class: "btn btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  
    <div class="row">
      <div class="offset-1 col-2">
        <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
      </div>
      <div class="offset-7 col-2">
        <table class="table-bordered">
          <th class="table-secondary">合計金額</th>
          <th><%= @total_price %></th>
        </table>
      </div>
    </div>
  

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= link_to '情報入力に進む' , orders_new_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

