<h2>ショッピングカート</h2>

<%= form_with model: [@order,@cart_product], url:new_order_path, local: true do |f| %>

<p>数量</p>
<%= f.select :cart_count, [1,2,3,4,5,6,7,8,9,10] %>

<p>商品名</p>
<% current_customer.cart_products.each do |p| %>
<%= p.product.name %>

<p>単価（税込）</p>
<%= p.product.no_tax_price * 1.1 %>

<p>小計</p>
<%= p.product.no_tax_price * 1.1 * (p.count) %>
<% end %>


<p>合計金額</p>
<p>【検討中】</p>

<%= f.submit '送信'%>
<% end %>