<h2>
  <%= @customer.family_name %><%= @customer.first_name %>
  さんの会員情報
</h2>
<table>
  <tbody>
    <tr>
      <td>会員ID</td>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <td>氏名</td>
      <td><%= @customer.family_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= @customer.family_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.phone %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email  %></td>
    </tr>
    <tr>
      <td>会員ステータス</td>
      <td>
        <% if @customer.is_deleted == false %>
          <p>有効</p>
        <% else %>
          <p>退会</p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to '編集する', edit_admin_customer_path(@customer) %>
<%= link_to '注文履歴一覧を見る' %>