<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h4 class="customer-show">
        <%= @customer.family_name %><%= @customer.first_name %>
        さんの会員情報
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-1">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @customer.family_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= @customer.family_name_kana %><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.phone %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email  %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @customer.is_deleted == false %>
                <p class="text-success">有効</p>
              <% else %>
                <p class="text-secondary">退会</p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-3">
      <%= link_to '編集する', edit_admin_customer_path(@customer), class: 'btn btn-success' %>
    </div>
    <div class="col-3">
      <%= link_to '注文履歴一覧を見る', admin_orders_path(order_sort: 1), class: 'btn btn-primary' %>
    </div>
  </div>
</div>