<h2>注文履歴一覧</h2>

<p>購入日時</p>
<% @orders.each do |order| %>
<%= link_to order.created_at, admin_order_path(order) %>
<p>購入者</p>
<%= order.customer.family_name %><%= order.customer.first_name %>
<p>注文個数</p>
<% order.order_details.each do |order_detail| %>
<%= order_detail.order_count %>
<% end %>
<p>注文ステータス</p>
<%= order.order_status %>
<% end %>


<%= paginate @orders %>