<h2>注文履歴一覧</h2>

<table class="table">
    <thead>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
    </thead>
<tbody>
    <% @orders.each do |order| %>
    <tr>
    <td><%= link_to order.created_at, admin_order_path(order) %></td>
    <td><%= order.customer.family_name %><%= order.customer.first_name %></td>
    <% order.order_details.each do |order_detail| %>
    <td><%= order_detail.order_count %></td>
    <% end %>
    <td><%= order.order_status %></td>
    </tr>
    <% end %>
</tbody>
</table>

<%= paginate @orders %>