<div class="container">
  <div class="row">
    <div class="col-2">
      <h4 class="customer-index">注文履歴一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.created_at, admin_order_path(order) %></td>
            <td><%= order.customer.family_name %><%= order.customer.first_name %></td>
            <td><%= order.order_details.sum(:order_count) %></td>
            <td><%= order.order_status %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-5">
      <%= paginate @orders_page %>
    </div>
  </div>
</div>
