<h2>注文履歴詳細</h2>

<p>購入者</p>
<%= @order.customer.family_name %><%= @order.customer.first_name %>
<p>購入日</p>
<%= @order.created_at %>
<p>配送先</p>
<%= @order.order_postal_code %>
<%= @order.order_address %>
<%= @order.order_name %>
<p>支払方法</p>
<%= @order.payment_method %>
<p>注文ステータス</p>
<%= @order.order_status %>

<%= form_with model: @order, url:admin_order_path(@order), local: true do |f| %>
<%= f.select :order_status, [["入金待ち",0], ["入金確認",1], ["製作中",2], ["発送準備中",3], ["発送済み",4]] %>
<%= f.submit "更新" %>
<% end %>


<p>商品名</p>
<% @order.order_details.each do |order_detail| %>
<%= order_detail.product.name %>
<% end %>
<p>単価</p>
<% @order.order_details.each do |order_detail| %>
<%= order_detail.tax_price %>
<% end %>
<p>数量</p>
<% @order.order_details.each do |order_detail| %>
<%= order_detail.count %>
<% end %>
<p>小計</p>
<% @order.order_details.each do |order_detail| %>
<%= order_detail.tax_price %>
<% end %>

<p>制作ステータス</p>


<p>商品合計</p>
<%= @order.total_price %>
<p>送料</p>
<%= @order.shipping_fee = 800 %>
<p>請求額合計</p>
<%= @order.total_price.to_i + @order.shipping_fee %>