  <h2 class="text-center">ジャンルの追加</h2>

    <%= form_with model:@genre, url:"/admin/genres", local: true do |f| %>
        <div class="form_input">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form_action row">
            <%= f.submit "登録する", class: "btn col-sm-12 submit_btn" %>
        </div>
    <% end %>

<h2 class="text-center">ジャンル一覧</h2>
<div>
  <% @genres.each do |genre| %>
    <%= genre.name %>
    <%= link_to "編集する",edit_admin_genre_path(genre.id) %>
  <% end %>
</div>
