<div class="container">
  <div class="row">
    <div class="col-6 col-offset-3">
      <h4 class="shipping-index">配送先登録/一覧</h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <%= form_with model:@shipping_address do |f| %>
      <table>
        <tbody>
          <tr>
            <td>郵便番号（ハイフンなし）</td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address, size: 50 %></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit '新規登録', class: 'btn btn-success' %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table  table-bordered">
        <thead class="thead-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <% @shipping_addresses.each do |shipping_address| %>
        <tbody>
          <tr>
            <th><%= shipping_address.postal_code %></th>
            <th><%= shipping_address.address %></th>
            <th><%= shipping_address.name %></th>
            <th>
              <%= link_to "編集する", edit_shipping_address_path(shipping_address), class: 'btn btn-success' %>
              <%= link_to "削除する", shipping_address_path(shipping_address), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
            </th>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

