<div class="container">
  <div class="row">
    <div class="col-2 offset-1">
      <h4>商品一覧</h4>
      <div id="new-product">
        <%= link_to "+",new_admin_product_path %>
      </div>
    </div>
  </div>
  <div class ="row">
    <div class ="col-11">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>商品説明</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>販売ステータス</th>
          </tr>
        </thead>
        <% @products.each do |product| %>
        <tbody>
          <td><%= product.id %></td>
          <td><%= link_to product.name,admin_product_path(product.id) %></td>
          <td><%= product.discription %></td>
          <td><%= product.no_tax_price %></td>
          <td><%= product.genre.name %></td>
          <td><% if product.is_active  %>
                <p class="text-success">販売中</p>
              <% else %>
                <p class="text-muted">販売停止中</p>
              <% end %>
          </td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
<%= paginate @products %>
