<h2>注文情報確認</h2>
  <% CartProduct.all.each do |p| %>
    <p>商品名</p>
      <%= p.product.name %>
    <p>単価（税込）</p>
      <%= p.product.no_tax_plice *1.1 %>
    <p>数量</p>
      <%= p.cart_count %>
    <p>小計</p>
      <%= p.cart_count * (p.product.no_tax_price * 1.1) %>
  <% end %>

  <p>送料</p>
    <%= @order.shipping_fee %>
  <p>商品合計</p>
    <%= @total_price %>
  <p>請求金額</p>
    <p>【検討中】</p>


  z