<h2>注文履歴一覧</h2>

<p>購入日時</p>
<% @orders.each do |order| %>
<%= link_to order.created_at, "/orders/:id" %>
<p>購入者</p>
<%= order.customer.family_name %><%= order.customer.first_name %>
<p>注文個数</p>

<p>注文ステータス</p>
<%= order.order_status %>
<% end %>


<%= paginate @orders %>