<div class="container">
  <div class="row">
    <div class="col-2">
      <h4 class="customer-index">注文履歴一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <p>注文情報<p>
      <table class="table table-bordered">
       <tbody>
          <tr>
            <td class="table-secondary">注文日</td>
            <td><%= @order.created_at %></td>
          </tr>
          <tr>
            <td class="table-secondary">配送先</td>
            <td>〒<%= @order.order_postal_code %>
                <%= @order.order_address %></br>
                <%= @order.order_name %>
            </td>
          </tr>
          <tr>
            <td class="table-secondary">支払方法</td>
            <td><%= @order.payment_method %></td>
          </tr>
         <tr>
            <td class="table-secondary">注文ステータス</td>
            <td><%= @order.order_status %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <p>請求情報<p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-secondary">商品合計</td>
            <td><%= @order.order_details.sum(:tax_price) %></td>
          </tr>
          <tr>
            <td class="table-secondary">配送料</td>
          <td><%= @order.shipping_fee.to_i %></td>
          </tr>
          <tr>
            <td class="table-secondary">ご請求額</td>
            <td><%=  @order.order_details.sum(:tax_price) + @order.shipping_fee.to_i %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>注文内容<p>
      <table class="table table-bordered">
        <thead class="thead-light">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
      </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.product.name %></td>
            <td><%= order_detail.tax_price %></td>
            <td><%= order_detail.order_count %></td>
            <td><%= order_detail.tax_price %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>